<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.3.1" targetFramework="net461" />
  <package id="EntityFramework" version="6.0.1" targetFramework="net461" />
  <package id="log4net" version="2.0.2" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
  <package id="Zen.Barcode.Rendering.Framework" version="3.1.10729.1" targetFramework="net461" />
  <package id="Zen.Core" version="1.2.0.21" targetFramework="net461" />
  <package id="Zen.Core.EntityFramework" version="1.2.0.21" targetFramework="net461" />
</packages>